.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 600px;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-5px);
}

.button {
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

.button:hover {
    color: rgb(253, 24, 24);
    font-weight: bold;
}
