.cart-widget {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin-right: 50px;
    background-color: #000000;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.cart-icon {
    font-size: 24px;
    margin-right: 5px;
}

.item-count {
    font-weight: bold;
}